---
import "../styles/global.css";
import "../styles/site.css";
import "../styles/home.css";
import  "@atomico/site";
import imgStep1 from "../assets/step-1.svg";
import imgStep2 from "../assets/step-2.svg";
import imgStep3 from "../assets/step-3.svg";
import imgStep4 from "../assets/step-4.svg";
import imgAtom from "../assets/atom.svg";
import imgLogo from "../assets/logo.svg";
import imgLogoText from "../assets/logo-text.svg";
import imgAuthor from "../assets/author.jpg";
import imgByUppercod from "../assets/by-uppercod.svg";
import iconWatch from "../assets/icon-watch.svg";
import iconShadow from "../assets/icon-shadow.svg";
import iconFunction from "../assets/icon-function.svg";
import iconDiscord from "../assets/icon-discord.svg";
import iconLinkedin from "../assets/icon-linkedin.svg";
import iconTwitter from "../assets/icon-twitter.svg";
import iconDonation from "../assets/icon-donation.svg";
import iconCode from "../assets/icon-code.svg";
import iconShare from "../assets/icon-share.svg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@600&display=swap" rel="stylesheet">
		<style>
			:root{
				--atomico--font-display: 'Poppins', sans-serif;
				--atomico--font-body: 'Nunito Sans', sans-serif;
			}
		</style>
		<script>
			import("@atomico/site");
		</script>
	</head>
	<body>
		<site-header>
			<img src={imgLogo} slot="logo" />
			<site-link slot="link">Github</site-link>
			<site-link slot="link">Documentation</site-link>
			<site-link slot="link">Support</site-link>
			<site-menu slot="action">
				<site-eye class="eye"></site-eye>
				<div class="menu">
					<div class="menu-group">
						<site-text elegant>SOCIALS</site-text>
						<div class="menu-items">
							<site-link>TWITTER</site-link>
							<site-link>LINKEDIN</site-link>
							<site-link>DISCORD</site-link>
							<site-link>GITHUB</site-link>
						</div>
						<site-text elegant>STARTED</site-text>
						<div class="menu-items">
							<site-link>Get started</site-link>
							<site-link>Template</site-link>
							<site-link>Props</site-link>
							<site-link>Hooks</site-link>
						</div>
						<site-text elegant>UTILITIES</site-text>
						<div class="menu-items">
							<site-link>@atomico/exports</site-link>
							<site-link>@atomico/ui</site-link>
							<site-link>@atomico/hooks</site-link>
							<site-link>More</site-link>
						</div>
					</div>
				</div>
			</site-menu>
		</site-header>
		<site-isotype>
			<site-grid gap={3} centered>
				<img src={imgLogoText} alt="" />
				<site-text elegant>WEBCOMPONENTS</site-text>
				<site-text textCenter>
					Create interfaces with code
					<br /> simple, fast and light
				</site-text>
			</site-grid>
		</site-isotype>
		<site-section>
			<sitle-title>
				<h1>Simple, fast and light</h1>
			</sitle-title>
			<site-text>
				ullamco culpa duis excepteur quis amet
				<strong> ad proident Lorem </strong>
				esse eu labore excepteur anim deserunt occaecat veniam dolor
				enim ullamco qui dolor ad reprehenderit irure dolor Lorem
				sunt magna et pariatur eu irure amet enim sit magna dolor ad
				et aliquip ut labore culpa ad
			</site-text>
			<div class="icon-row">
				<img src={iconFunction} alt="" />
				<site-text>
					Ullamco culpa duis excepteur quis amet ad
				</site-text>
			</div>
			<div class="icon-row">
				<img src={iconShadow} alt="" />
				<site-text>
					Ullamco culpa duis excepteur quis amet ad
				</site-text>
			</div>
			<div class="icon-row">
				<img src={iconWatch} alt="" />
				<site-text>
					Ullamco culpa duis excepteur quis amet ad
				</site-text>
			</div>
			<div slot="right" class="steps">
				<div class="step">
					<site-count color="#FF0099" value={1}>
						IMPORT
					</site-count>
					<site-card>
						<img class="step-img" src={imgStep1} alt="" />
					</site-card>
				</div>
				<div class="step">
					<site-count color="#FFE600" value={2}>
						WEBCOMPONENT
					</site-count>
					<site-card>
						<img class="step-img" src={imgStep2} alt="" />
					</site-card>
				</div>
				<div class="step">
					<site-count color="#00FF90" value={3}>
						STYLES
					</site-count>
					<site-card>
						<img class="step-img" src={imgStep3} alt="" />
					</site-card>
				</div>
				<div class="step">
					<site-count color="#0088FF" value={4}>
						DECLARATIONS
					</site-count>
					<site-card>
						<img class="step-img" src={imgStep4} alt="" />
					</site-card>
				</div>
			</div>
		</site-section>
		<site-section>
			<sitle-title>
				<h1>The Atomico Ecosystem</h1>
			</sitle-title>
			<site-text>
				ullamco culpa duis excepteur quis amet ad proident Lorem
				esse eu labore excepteur anim deserunt{" "}
				<strong>occaecat veniam dolor</strong>
				sunt magna
			</site-text>
			<img slot="right" src={imgAtom} />
			<site-grid slot="content" columns="1, 2 768px, 3 980px">
				<site-card dotColor="#FFE600">
					<site-text color="subtitle">
						<h4>@atomico/exports</h4>
					</site-text>
					<site-text>
						<small>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit.
						</small>
					</site-text>
				</site-card>
				<site-card dotColor="#0088FF">
					<site-text color="subtitle">
						<h4>@atomico/router</h4>
					</site-text>
					<site-text>
						<small>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit.
						</small>
					</site-text>
				</site-card>
				<site-card dotColor="#00FF90">
					<site-text color="subtitle">
						<h4>@atomico/store</h4>
					</site-text>
					<site-text>
						<small>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit.
						</small>
					</site-text>
				</site-card>
				<site-card dotColor="#00FF90">
					<site-text color="subtitle">
						<h4>@atomico/hooks</h4>
					</site-text>
					<site-text>
						<small>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit.
						</small>
					</site-text>
				</site-card>
				<site-card dotColor="#00FF90">
					<site-text color="subtitle">
						<h4>@atomico/react</h4>
					</site-text>
					<site-text>
						<small>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit.
						</small>
					</site-text>
				</site-card>
				<site-card dotColor="#00FF90">
					<site-text color="subtitle">
						<h4>@atomico/router</h4>
					</site-text>
					<site-text>
						<small>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit.
						</small>
					</site-text>
				</site-card>
				<site-card dotColor="#00FF90">
					<site-text color="subtitle">
						<h4>@atomico/components</h4>
					</site-text>
					<site-text>
						<small>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit.
						</small>
					</site-text>
				</site-card>
				<site-card dotColor="#00FF90">
					<site-text color="subtitle">
						<h4>@atomico/ui</h4>
					</site-text>
					<site-text>
						<small>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit.
						</small>
					</site-text>
				</site-card>
			</site-grid>
		</site-section>
		<site-section>
			<sitle-title>
				<h1>Ideas, projects and companies that use Atomico</h1>
			</sitle-title>
			<site-text>
				ullamco culpa duis excepteur quis amet ad proident Lorem
				esse eu labore excepteur anim deserunt{" "}
				<strong>occaecat veniam dolor</strong>
				sunt magna
			</site-text>
		</site-section>
		<site-section>
			<sitle-title>
				<h1>Join the community</h1>
			</sitle-title>
			<site-text>
				Atomico simplifies learning, workflow, and maintenance when
				creating webcomponents.
			</site-text>
			<site-grid columns="1, 3 768px">
				<site-button style="--button-border-color: #404EED">
					<img src={iconDiscord} /> Discord
				</site-button>
				<site-button style="--button-border-color: #1DB0F2">
					<img src={iconTwitter} /> Twitter
				</site-button>
				<site-button style="--button-border-color: #0063B9">
					<img src={iconLinkedin} /> Linkedin
				</site-button>
			</site-grid>
		</site-section>
		<site-section>
			<site-author>
				<img src={imgAuthor} />
			</site-author>
			<site-grid slot="right" gap={1}>
				<site-text elegant>AUTHOR'S MESSAGE</site-text>
				<sitle-title>
					<h1>Join Atomico JS</h1>
				</sitle-title>
			</site-grid>
			<site-text slot="right">
				Atomico is an open source project developed by
				<a href=""> UpperCod</a>, we invite you to contribute to the
				improvement of Atomico in:
			</site-text>
			<div class="icon-row" slot="right">
				<img src={iconShare} alt="" />
				<site-text slot="right">Using and sharing Atomico</site-text>
			</div>
			<div class="icon-row" slot="right">
				<img src={iconCode} alt="" />
				<site-text slot="right">
					Improving the source code, sharing bugs and new features
				</site-text>
			</div>
			<div class="icon-row" slot="right">
				<img src={iconDonation} alt="" />
				<site-text slot="right">Small donations</site-text>
			</div>
		</site-section>
		<site-footer>
			<img slot="logo" src={imgByUppercod} />
			<site-link>Twitter</site-link>
			<site-link>Discord</site-link>
			<site-link>Github</site-link>
		</site-footer>
	</body>
</html>