---
import { menuHeader, menuModal } from "../data";
import imgLogo from "../../public/logo.svg";
---
<site-header>
    <img src={imgLogo} slot="logo" />
    {
        menuHeader.map((data)=><site-link href={data.link} slot="link">{data.title}</site-link>)
    }
    <site-menu slot="action">
        <site-eye class="eye"></site-eye>
        <div class="menu">
            <div class="menu-group">
                {menuModal.map((data)=><div>
                    <site-text elegant>{data.title}</site-text>
                    <div class="menu-items">
                        {data.items.map((data)=><site-link href={data.link} slot="link">{data.title}</site-link>)}
                    </div>
                </div>)}
            </div>
        </div>
    </site-menu>
</site-header>