---
import { menuHeader, menuModal } from "../data";
import imgLogo from "../../public/logo.svg";
---

<site-header >
    <a href="/"  slot="logo">
        <img src={imgLogo}  alt="Logo atomicojs"/>
    </a>
    {
        menuHeader.map((data)=><site-link href={data.href} slot="link" target="_blank">{data.title}</site-link>)
    }
    <site-menu slot="action">
        <site-eye class="eye"></site-eye>
        <div class="menu">
            <div class="menu-group">
                {menuModal.map((data)=><div>
                    <site-text size={3} color="accent" elegant>{data.title}</site-text>
                    <div class="menu-items">
                        {data.items.map((data)=><site-link href={data.href} slot="link" target="_blank">{data.title}</site-link>)}
                    </div>
                </div>)}
            </div>
        </div>
    </site-menu>
</site-header>