---
import {
  SiteCard,
  SiteCount,
  SiteRow,
  SiteSection,
  SiteText,
  SiteTitle,
} from "@atomico/site";
import iconFunction from "../../public/icon/function.svg";
import iconNotThis from "../../public/icon/not-this.svg";
import iconShadow from "../../public/icon/shadow.svg";
import iconWatch from "../../public/icon/view.svg";
import imgStep1 from "../../public/step-1.svg";
import imgStep2 from "../../public/step-2.svg";
import imgStep3 from "../../public/step-3.svg";
import imgStep4 from "../../public/step-4.svg";
---

<SiteSection>
  <SiteRow colsMd="55% auto" gap={7}>
    <SiteRow>
      <SiteTitle>
        <h1>Simple, fast and light</h1>
      </SiteTitle>
      <SiteText>
        Atomico is a microlibrary of modern syntax created by <strong
          >UpperCod</strong
        > that simplifies component creation by replacing the use of classes
        with <strong>functions to manage everything</strong>.
        <br />
         Inside Atomico <img
          width="40px"
          src={iconNotThis.src}
          alt="Not this"
        /> is an antipattern
      </SiteText>
      <SiteRow cols="auto 1fr">
        <img src={iconFunction.src} alt="" />
        <SiteText>Ullamco culpa duis excepteur quis amet ad</SiteText>
      </SiteRow>
      <SiteRow cols="auto 1fr">
        <img src={iconShadow.src} alt="" />
        <SiteText>Ullamco culpa duis excepteur quis amet ad</SiteText>
      </SiteRow>
      <SiteRow cols="auto 1fr">
        <img src={iconWatch.src} alt="" />
        <SiteText>Ullamco culpa duis excepteur quis amet ad</SiteText>
      </SiteRow>
    </SiteRow>
    <SiteRow>
      <SiteRow>
        <SiteCount color="#FF0099" value={1}>
          <SiteText elegant small color="title">IMPORT</SiteText>
        </SiteCount>
        <SiteCard padding overflow>
          <img class="step-img" src={imgStep1.src} alt="" />
        </SiteCard>
      </SiteRow>
      <SiteRow>
        <SiteCount color="#FFE600" value={2}>
          <SiteText elegant small color="title">WEBCOMPONENT</SiteText>
        </SiteCount>
        <SiteCard padding overflow>
          <img class="step-img" src={imgStep2.src} alt="" />
        </SiteCard>
      </SiteRow>
      <SiteRow>
        <SiteCount color="#00FF90" value={3}>
          <SiteText elegant small color="title">STYLES</SiteText>
        </SiteCount>
        <SiteCard padding overflow>
          <img class="step-img" src={imgStep3.src} alt="" />
        </SiteCard>
      </SiteRow>
      <SiteRow>
        <SiteCount color="#0088FF" value={4}>
          <SiteText elegant small color="title">DECLARATIONS</SiteText>
        </SiteCount>
        <SiteCard padding overflow>
          <img class="step-img" src={imgStep4.src} alt="" />
        </SiteCard>
      </SiteRow>
    </SiteRow>
  </SiteRow>
</SiteSection>
