---
import imgStep1 from "../../public/step-1.svg";
import imgStep2 from "../../public/step-2.svg";
import imgStep3 from "../../public/step-3.svg";
import imgStep4 from "../../public/step-4.svg";
import iconWatch from "../../public/icon-watch.svg";
import iconShadow from "../../public/icon-shadow.svg";
import iconFunction from "../../public/icon-function.svg";
import iconNotThis from "../../public/icon-not-this.svg";
---
<site-section>
    <site-grid  gap={1}>
        <site-text style="--font-spacing:var(--size-2)" elegant>WITH 3KB OF ATOMICO SIZE IT IS</site-text>
        <site-title>
            <h1>Simple, fast and light</h1>
        </site-title>
    </site-grid>
    <site-text>
        Atomico is a microlibrary of modern syntax created by <strong>UpperCod</strong> that simplifies component creation by replacing the use of classes with <strong>functions to manage everything</strong>.
        <br/>
        Inside Atomico <img width="40px" src={iconNotThis} alt="Not this"> is an antipattern
    </site-text>
    <div class="icon-row">
        <img src={iconFunction} alt="" />
        <site-text>
            Functions and Hooks to compose your webcomponent
        </site-text>
    </div>
    <div class="icon-row">
        <img src={iconShadow} alt="" />
        <site-text>
            Atomico does not define a shadow DOM by default.
        </site-text>
    </div>
    <div class="icon-row">
        <img src={iconWatch} alt="" />
        <site-text>
            Reactive properties and attributes with support for more than 500 types.
        </site-text>
    </div>
    <div slot="right" class="steps">
        <div class="step">
            <site-count color="#FF0099" value={1}>
                IMPORT
            </site-count>
            <site-card>
                <img class="step-img" src={imgStep1} alt="" />
            </site-card>
        </div>
        <div class="step">
            <site-count color="#FFE600" value={2}>
                WEBCOMPONENT
            </site-count>
            <site-card>
                <img class="step-img" src={imgStep2} alt="" />
            </site-card>
        </div>
        <div class="step">
            <site-count color="#00FF90" value={3}>
                STYLES
            </site-count>
            <site-card>
                <img class="step-img" src={imgStep3} alt="" />
            </site-card>
        </div>
        <div class="step">
            <site-count color="#0088FF" value={4}>
                DECLARATIONS
            </site-count>
            <site-card>
                <img class="step-img" src={imgStep4} alt="" />
            </site-card>
        </div>
    </div>
</site-section>