---
import {
  SiteAvatar,
  SiteCard,
  SiteCategories,
  SiteLink,
  SiteRow,
  SiteSection,
  SiteSocials,
  SiteText,
  SiteTitle,
} from "@atomico/site";
import imgAtom from "../../public/atom.svg";
import { Categories, Packages } from "../data/packages";
---

<SiteSection>
  <SiteRow gap={7}>
    <SiteRow colsMd="1fr 1fr" gap={7}>
      <SiteRow>
        <SiteTitle>
          <h2>The Atomico Ecosystem</h2>
        </SiteTitle>
        <SiteText>
          Atomico has a modular development ecosystem that involves packaging, <strong
            >state management</strong
          >, <strong>router</strong>, <strong>SSR</strong>, <strong>SSG</strong
          >, and other <strong>Frontend solutions</strong>.
        </SiteText>
      </SiteRow>
      <img src={imgAtom.src} alt="" />
    </SiteRow>
    <SiteCategories category="*" columns="1, 2 768px, 3 980px">
      <SiteLink slot="category" data-category="*" dot="#FFE600">All</SiteLink>
      {
        Object.entries(Categories).map(([id, { color, label }]) => (
          <SiteLink slot="category" data-category={id} dot={color}>
            {label}
          </SiteLink>
        ))
      }
      {
        Packages.map((pkg) => (
          <a href={pkg.href} target="_blank" data-category={pkg.category}>
            <SiteCard
              padding
              extended
              overflow
              dotColor={Categories[pkg.category].color}
            >
              {pkg.media && <img slot="media" src={pkg.media} />}
              <SiteText color="subtitle">
                <h4>{pkg.name}</h4>
              </SiteText>
              <SiteText>
                <small>{pkg.description}</small>
              </SiteText>
              <SiteAvatar slot="footer" small detail={pkg.user.name}>
                <img src={pkg.user.avatar} />
              </SiteAvatar>
              <SiteSocials slot="footer" {...pkg.user.socials} />
            </SiteCard>
          </a>
        ))
      }
    </SiteCategories>
  </SiteRow>
</SiteSection>
