---
import { SiteHeader, SiteMenu, SiteEye } from "@atomico/site";
import imgLogo from "../../public/logo.svg";
import { menuHeader, menuModal } from "../data";
---

<SiteHeader >
    <a href="/"  slot="logo">
        <img src={imgLogo.src} loading="lazy" width="160" height="35" alt="Logo atomicojs"/>
    </a>
    {
        menuHeader.map((data)=><site-link href={data.href} slot="link" target="_blank">{data.title}</site-link>)
    }
    <SiteMenu slot="action">
        <SiteEye class="eye"></SiteEye>
        <div class="menu">
            <div class="menu-group">
                {menuModal.map((data)=><div>
                    <site-text size={3} color="accent" elegant>{data.title}</site-text>
                    <div class="menu-items">
                        {data.items.map((data)=><site-link href={data.href} slot="link" target="_blank">{data.title}</site-link>)}
                    </div>
                </div>)}
            </div>
        </div>
    </SiteMenu>
</SiteHeader>