---
import logoIbmIx from "../../public/logos/logo-ibm-ix.svg";
import logo2Brains from "../../public/logos/logo-2brains.svg";
import logoBarmer from "../../public/logos/logo-barmer.svg";
import logoCajaLosAndes from "../../public/logos/logo-caja-los-andes.png";
import logoClinicaAlemana from "../../public/logos/logo-clinica-alemana.png";
import logoNacionalMonteDePiedad from "../../public/logos/logo-nacional-monte-de-piedad.png";
import logoVidaSecurity from "../../public/logos/logo-vida-security.svg";
import logoUpper from "../../public/logos/logo-upper.svg";
import logoMasPractica from "../../public/logos/logo-mas-practica.png";
import iconFast from "../../public/icon/fast.svg";
import iconGrowth from "../../public/icon/growth.svg";
import {
  SiteSection,
  SiteTitle,
  SiteRow,
  SiteCard,
  SiteText,
} from "@atomico/site";
---

<SiteSection>
  <SiteRow gap={7} colsMd="1fr 1fr">
    <SiteRow>
      <SiteTitle>
        <h2>They trust the use of Atomico JS</h2>
      </SiteTitle>
      <SiteText>
        Atomico is designed to create lightweight interfaces for the entire web.
        We invite you to add Atomico to your projects and have all our support.
      </SiteText>
      <SiteRow content="top" flex>
        <SiteRow cols="auto 1fr">
          <img src={iconFast.src} />
          <SiteText>
            Ideal for <strong>progressive implementation</strong>, especially in
            React-based environments.
          </SiteText>
        </SiteRow>
        <SiteRow cols="auto 1fr">
          <img src={iconGrowth.src} />
          <SiteText>
            Stability with <strong>99.9% coverage</strong> for the entire Atomico
            js package
          </SiteText>
        </SiteRow>
      </SiteRow>
    </SiteRow>
    <SiteRow cols="1fr 1fr 1fr">
      <SiteCard class="image-center">
        <img
          width="140"
          height="90"
          loading="lazy"
          src={logoIbmIx.src}
          alt="Logo Ibm iX"
          slot="media"
        />
      </SiteCard>
      <SiteCard class="image-center">
        <img
          width="140"
          height="90"
          loading="lazy"
          src={logo2Brains.src}
          alt="Logo Ibm iX"
          slot="media"
        />
      </SiteCard>
      <SiteCard class="image-center">
        <img
          width="140"
          height="90"
          loading="lazy"
          src={logoBarmer.src}
          alt="Logo Ibm iX"
          slot="media"
        />
      </SiteCard>
      <SiteCard class="image-center">
        <img
          width="140"
          height="90"
          loading="lazy"
          src={logoNacionalMonteDePiedad.src}
          alt="Logo Ibm iX"
          slot="media"
        />
      </SiteCard>
      <SiteCard class="image-center">
        <img
          width="140"
          height="90"
          loading="lazy"
          src={logoCajaLosAndes.src}
          alt="Logo Ibm iX"
          slot="media"
        />
      </SiteCard>
      <SiteCard class="image-center">
        <img
          width="140"
          height="90"
          loading="lazy"
          src={logoClinicaAlemana.src}
          alt="Logo Ibm iX"
          slot="media"
        />
      </SiteCard>
      <SiteCard class="image-center">
        <img
          width="140"
          height="90"
          loading="lazy"
          src={logoVidaSecurity.src}
          alt="Logo Ibm iX"
          slot="media"
        />
      </SiteCard>
      <SiteCard class="image-center">
        <img
          width="140"
          height="90"
          loading="lazy"
          src={logoUpper.src}
          alt="Logo Ibm iX"
          slot="media"
        />
      </SiteCard>
      <SiteCard class="image-center">
        <img
          width="140"
          height="90"
          loading="lazy"
          src={logoMasPractica.src}
          alt="Logo Ibm iX"
          slot="media"
        />
      </SiteCard>
    </SiteRow>
  </SiteRow>
</SiteSection>

<style></style>
