---
import imgLogo from "../../public/logo.svg";
import { MenuHeader, MenuModal } from "../data/page";
import {
  SiteEye,
  SiteHeader,
  SiteLink,
  SiteMenu,
  SiteSocials,
  SiteText,
  SiteRow,
  SiteSection,
} from "@atomico/site";
---

<SiteHeader>
  <a href="/" slot="logo">
    <img src={imgLogo.src} />
  </a>
  {
    MenuHeader.map((data) => (
      <SiteLink href={data.href} slot="link" target="_blank">
        {data.title}
      </SiteLink>
    ))
  }
  <SiteMenu slot="action">
    <SiteEye class="eye" />
    <SiteSection>
      {
        MenuModal.map((data) => (
          <SiteRow gap={0}>
            <SiteText elegant color="accent">
              {data.title}
            </SiteText>
            <SiteRow flex>
              {data.items.map((data) => (
                <SiteLink class="modal-link" href={data.href} target="_blank">
                  {data.title}
                </SiteLink>
              ))}
            </SiteRow>
          </SiteRow>
        ))
      }
    </SiteSection>
  </SiteMenu>
  <SiteSocials
    id="site-socials"
    twitter="atomicojs"
    github="atomicojs"
    discord="atomicojs"
    youtube="atomicojs"
    slot="action"
  />
</SiteHeader>
<style>
  .modal-link {
    display: block;
  }
  @media (max-width: 520px) {
    #site-socials {
      position: absolute;
      top: 80%;
      max-width: 32px;
    }
  }
</style>
